body::-webkit-scrollbar {
  display: none;
}

/* navbar */

.nav-1 {
  background-color: #0b1616;
  width: 100%;
  height: 118px;
  align-items: center;
}

.logo {
  color: #f2f2f2;
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  padding: 30px 0 0 90px;
  float: left;
  transition: 0.8s linear;
  transition-delay: 0.2s;
}

.logo:hover {
  color: #ff5f00;
}

.navbar-right {
  align-items: center;
  float: right;
}

/* search button */
.searchBox {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 3rem;
  left: 74.3rem;
  transform: translate(-100%, -30%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #f2f2f2;
  color: #2f3640;
}

.searchButton {
  font-family: "Roboto", sans-serif;
  /* color: white; */
  font-size: 25px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #2f3640; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  padding: 15px 10px;
}

.searchInput {
  font-family: "Roboto", sans-serif;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #f2f2f2;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
/* shop button */
.playground {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  transform: translate(-250px, 31.5px);
  margin-right: 70px;
}

.cart-icon {
  margin-left: 50px;
  align-items: center;
}

.shop-con {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.btn-1-3-4 {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  transition: background 0.5s ease-out, color 0.65s ease-out;
  padding: 13px 15px 13px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
}
.btn {
  background: linear-gradient(to right, #f2f2f2 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  color: #f2f2f2;
}

.btn:hover {
  font-family: "Roboto", sans-serif;
  color: #171717;
  background-position: left;
}

.dropdown-content {
  font-family: "Roboto", sans-serif;
  display: none;
  position: absolute;
  top: 105px;
  left: -1195px;
  background-color: #f9f9f9;
  min-width: 94vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 35px;
  font-weight: 500;
  text-align: right;
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: all 1s linear, transform 0.7s ease-in-out;
}

.dropdown-content a:hover {
  transform: translateX(-30px);
  background: linear-gradient(
    120deg,
    rgba(252, 65, 0, 1) 0%,
    rgba(255, 138, 8, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* profile button */
.playground-1 {
  font-family: "Roboto", sans-serif;
  transform: translate(-90px, -23.5px);
}

.cart-icon-1 {
  margin-left: 6px;
  align-items: center;
}

.shop-con-1 {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.btn-1-3-4 {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  transition: "background 0.5s ease-out, color 0.65s ease-out";
  padding: 13px 15px 13px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
}
.btn-1 {
  background: linear-gradient(to right, #f2f2f2 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  color: #f2f2f2;
}

.btn-1:hover {
  font-family: "Roboto", sans-serif;
  color: #171717;
  background-position: left;
}

.dropdown-content-1 {
  font-family: "Roboto", sans-serif;
  display: none;
  position: absolute;
  top: 105px;
  left: -1355px;
  background-color: #f9f9f9;
  min-width: 94vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 35px;
  font-weight: 500;
  text-align: right;
  z-index: 10;
}

.dropdown-content-1 a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: all 1s linear, transform 0.7s ease-in-out;
}

.dropdown-content-1 a:hover {
  transform: translateX(-30px);
  background: linear-gradient(
    120deg,
    rgba(252, 65, 0, 1) 0%,
    rgba(255, 138, 8, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* cart icon */
.playground-1-2 {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.cart-icon-container {
  margin-top: -78px;
  margin-left: 100px;
}

.cart-icon-1 {
  /* margin-left: 6px; */
  align-items: center;
}

.btn-1-3-4 {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  transition: "background 0.5s ease-out, color 0.65s ease-out";
  padding: 13px 15px 13px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
}
.btn-1 {
  background: linear-gradient(to right, #f2f2f2 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  color: #f2f2f2;
}

.btn-1:hover {
  font-family: "Roboto", sans-serif;
  color: #171717;
  background-position: left;
}

/* cart slider */
.add-cart-1 {
  cursor: pointer;
  position: relative;
}

#cart-sidebar {
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  right: -500px;
  top: 0;
  width: 500px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  /* padding: 20px; */
  z-index: 1000;
}

.cart-header {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: 200;
  height: 78px;
  background-color: #0b1616;
  color: white;
}

.cart-header h2 {
  font-weight: 200;
}

.close-cart {
  font-size: 45px;
  margin-top: -10px;
  cursor: pointer;
}

.cart-content {
  padding: 20px;
  overflow-y: auto;
  height: 640px;
  flex: 1;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 60px;
  border-radius: 10px;
}

.cart-item-details {
  flex: 1;
  padding: 0 20px;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  background-color: transparent;
  border: 1px solid #0b1616;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.t-a {
  display: inline;
  margin-left: 180px;
}

.t-i {
  display: inline;
}

.cart-footer {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-proceed {
  width: 100%;
  padding: 15px;
  background-color: #0b1616;
  margin-top: 25px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s linear;
}

.btn-proceed:hover {
  background-color: #ff5f00;
}

/* footer */

footer {
  font-family: "Open Sans", sans-serif;
  background-color: #0b1616;
  padding: 40px 0;
  color: #ebecee;
  font-size: 30px;
  font-weight: 400px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  max-width: 400px;
  padding: 0px 30px;
  cursor: pointer;
}

.footer-section h3 {
  font-size: 30px;
  margin-bottom: 10px;
  transition: 0.3s linear;
}

.footer-section h3:hover {
  color: #ff5f00;
}

.footer-section p {
  margin: 5px 0;
  line-height: 1.6;
  transition: 0.3s linear;
}

.footer-section p:hover {
  color: #ff5f00;
}

.footer-section p:last-child {
  margin-bottom: 0;
}


/* and (max-width: 1920px) and (min-height: 720px) and (max-height: 1080px) */

@media screen and (width:1280px) {
  .searchBox{
    left: 50rem;
  } 
  .cart-content {
    height: 520px;
}
.dropdown-content{
  left: -806px;
}
.dropdown-content-1{
  left: -967px;
}
.logo {
  padding: 30px 0 0 40px;
}
footer {
  font-size: 25px;
}

}


@media screen and (min-width:1300px) and (max-width:1400px) {
  .searchBox{
    left: 55.3rem;
  } 
  .cart-content {
    height: 485px;
}
.dropdown-content{
  left: -890px;
}
.dropdown-content-1{
  left: -1050px;
}
.logo {
  padding: 30px 0 0 40px;
}
footer {
  font-size: 25px;
}

}
